@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&display=swap');

::selection{
    background-color:rgb(48, 45, 68);
    color: azure;
}

::-webkit-scrollbar{
    
    max-height:10px;
    max-width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color:#8C52FF;
    border-radius: 10px;

}   

::-webkit-scrollbar-thumb:hover{
    background-color: rgb(255, 255, 255)
}

html{
    overflow-x: hidden;
    
}

*{
    margin: 0;
    padding: 0;
    
}
body{
    
    
    overflow-x: hidden;
    overflow-y: hidden;
    font-family:'IBM Plex Mono', monospace;
    background: rgb(0, 0, 0);
}

.nav{
    background-color: #000000;
    min-width:100vw;
    height: fit-content;
    border-radius:0 0 20px 20px;
    color: white;
    display: flex;
    padding: 30px 20px 30px 20px;
    font-family:'IBM Plex Mono', monospace;
    font-weight: 300;
    font-size: 20px;
    gap: 425px;
}
.nav-title{
    color: #ffffff;
    transition: text-shadow 1s,color 0.9s;;
}

.nav-title span{
    color: #8C52FF;
}


.nav ul{
    list-style-type: none ;
    padding: 0 20px;
}

.nav ul li {
    display: inline;
    padding: 10px;

}

.nav a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    transition: text-shadow 1s,color 1s;
}


.nav a:hover{
    transition: text-shadow 1s,color 1s;
    text-shadow: 2px 2px 10px white,2px 2px 30px rgb(96, 150, 211);
    color: white;
}

.wrapper{
    display: flex;
    flex-direction: column;
    font-family:'IBM Plex Mono', monospace;
}

.sec-1{
    font-size: 25px;
    display: flex;
    font-family:'IBM Plex Mono', monospace;
    padding: 20px;
    color: rgb(75, 124, 179);
    justify-content: center;
    align-items: center;
    height: 350px;
}



.sec-1-left{
    font-size: 30px;
    font-family: 400;
    margin: 20px;
    color: white;
    width:550px;
    text-align: center;
}

.resume-link{
    margin: 20px 10px;
    display: flex;
    justify-content: center;
}

.sec-1-left a{
    display: block;
    color: rgb(0, 0, 0) ;
    background-color: #8C52FF;
    text-decoration: none;
    width: fit-content;
    font-size: 13px;
    margin: 10px 0;
    padding: 10px;
    scale: 1.2;
    border-radius: 5px;
    transition: border 1s,color 1s,background-color 1s;

}

.sec-1-left a:hover{
    transition: border 1s,color 1s,background-color 1s;
    background-color: transparent;
    border:1px solid #8C52FF;
    color: #ffffff;
}

.sec-1-left pre{
    display: inline;
    color: #8C52FF;
}


.sec-2{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sec-2-title{
    font-family:'IBM Plex Mono', monospace;
    font-size: 25px;
    color: white;
}

.sec-2-p-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
    gap: 50px;
}

.sec-2-p-1-left{
    color:white;
    font-size: 20px;
    font-weight: 200;
    width: 400px;
}

.sec-2-p-1-left b{
    padding-bottom: 50px;
}

.sec-2-p-1-left-link{
    display: inline;
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    width: fit-content;
    background-color: #8C52FF;
    margin:20px 0 ;
    border-radius: 3px;
    padding: 5px 10px;
    transition: border 1s,color 1s;
}

.sec-2-p-1-left-link:hover{
    transition: border 1s,color 1s, background-color 1s;
    color: #ffffff;
    background-color: #000000;
    border: 1px solid #8C52FF;
}
.sec-2-p-1-right img{
    height: 250px;
}

.coderscave{
    color:#8C52FF ;
    text-decoration:none;
}

.link-wrap{
    margin: 20px 0;;
}





#typing{
    color: #8C52FF;
    transition: text-shadow 1s,color 0.9s;
}

.typed-cursor {
    color:#8C52FF;
}



#typing:hover{
    transition: text-shadow 1s , color 0.9s;
    color: white;
    text-shadow: 2px 2px 30px rgb(255, 255, 255),2px 2px 30px rgb(75, 124, 179);
}


.sec-3-text{
    display: flex;
    margin: 30px 0;
    justify-content: center;
    padding: 50px 0;
}



.sec-3-title{
    text-align: center;
    color:white;
    font-size: 25px;
}

.sec-3-left{
    height: 0;
}

.sec-3-left-main{
    height: 350px;
}
.sec-3-right{
    color:white;
    width: 600px;
    font-size: 20px;
    font-weight: 100;
}

.webform{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    color:white;
    margin-top: 100px;
}

.webform-title{
    display: flex;
}

.webform-title span{
    font-size: 30px;
}

.webform form{
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: #0e0917;
    padding: 30px;
    border-radius: 3px;
}

.webform form h3{
    text-align: center;
}

.webform input{
    background-color: black;
    border: none;
    padding: 15px 5px;
    min-width: 300px;
    color: rgb(93, 62, 128);
    font-family:'IBM Plex Mono', monospace;
}

.webform input::placeholder{
    color: rgb(53, 66, 80);
    font-family:'IBM Plex Mono', monospace;
}

.webform textarea{
    background-color: black;
    padding: 15px 5px;
    border: none;
    resize:none;
    color: rgb(110, 76, 138);
    min-height: 200px;
    font-family:'IBM Plex Mono', monospace;
}

.webform form label{
    margin: 10px 0;
}

.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}

.submit-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    width: fit-content;
    margin: 20px 0;
    font-family:'IBM Plex Mono', monospace;
    padding: 10px 20px ;
    border-radius: 3px;
    transition: text-shadow 1s , color 0.9s;
}

.submit:hover{
    transition: text-shadow 1s , color 0.9s;
    color: white;
    text-shadow: 2px 2px 10px white,2px 2px 30px rgb(75, 124, 179);
}

.socials ul{
    list-style-type: none;
}

.socials ul li{
    padding: 10px;
    display: inline;
}


.socials a{
    text-decoration: none;
    color: #ffffff;
}
.footer{
    justify-content: center;
    padding: 20px 0 0 0;
    background-color: black;
}

.footer-text{
    color:#8C52FF;
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width:954px){
    .nav{
        flex-direction: column;
        height: fit-content;
        justify-content: center;
        text-align: center;
        gap: 0;
    }

    .nav ul{
        margin-top: 20px;
        padding: 0;
    }

    .nav ul li{
        margin: 5px 0 0 0;
    }

    .sec-1{
        flex-direction: column;
        text-align: center;
        height: 350px;
        justify-content: start;
    }


    .sec-1-right img{
        scale: 0.9;
    }
    .nav ul li{
        display: block;
    }

    .sec-2-wrap>*{
        flex-direction: column;
        padding: 50px 0;
    }

    .sec-2-p-1{
        margin: 0;
    }
    .sec-2-p-1-left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90vw;
        padding: 10px 0;
        
    }

    .sec-2-p-1-left b{
        text-align: center;
    }

    .sec-2-p-1-left-text{
        margin: 0 50px;
    }

    .link-wrap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sec-2-p-1-left-link{
        display: block;
        color: white;
    }

    .sec-2-p-1-right img{
        scale:0.7;
        
    }


    
    .sec-3-text{
        flex-direction: column;
        gap:30px;
    }

    .sec-3-right{
        margin: 0 50px;
        
        width: 450px;
    }

    .sec-3-text{
        padding-top: 0;
    }

    .sec-3-left{
        height: 250px;
        scale: 0.7;
    }

    .sec-3-left-main{
        height: 0;
    }
     .resume-link{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 25px 0;
}
}
