@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');

::selection{
    background-color:rgb(48, 45, 68);
    color: azure;
}

::-webkit-scrollbar{
    background-color: transparent;
    max-height:10px;
    max-width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color:rgb(125, 74, 180);
}

html{
    overflow-x: hidden;
    
}

*{
    margin: 0;
    padding: 0;
    
}
body{
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Poppins',sans-serif;
}

.nav{
    background-color: #100d13;
    min-width:100vw;
    height: fit-content;
    color: aliceblue;
    display: flex;
    padding: 30px 10px 10px 10px;
    font-family:'Poppins', sans-serif;
    font-weight: 300;
    font-size: 20px;
    justify-content: space-between;
}

.nav-title{
    color: rgb(196, 146, 249);
    transition: text-shadow 1s,color 0.9s;;
}


.nav-title:hover{
    transition: text-shadow 1s , color 0.9s;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 10px white,2px 2px 30px rgb(125, 74, 180);
}
.nav ul{
    list-style-type: none ;
    padding: 0 20px;
}

.nav ul li {
    display: inline;
    padding: 10px;

}

.nav a{
    text-decoration: none;
    font-size: 20px;
    background:linear-gradient(to bottom,rgb(69, 42, 99), rgb(170, 117, 228));
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.nav li:hover{
    border-bottom:3px solid rgb(157, 93, 226);
}

.wrapper{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins',sans-serif;
}

.sec-1{
    font-size: 25px;
    display: flex;
    font-family: 'Poppins',sans-serif;
    margin: 20px;
    color: rgb(125, 74, 180);
    justify-content: center;
    align-items: center;
    gap:100px;
}

.sec-1-left{
    margin: 20px;
    width: fit-content;
}

.sec-1-left a{
    display: block;
    color: rgb(166, 108, 227) ;
    text-decoration: none;
    width: fit-content;
    font-size: 15px;
    padding: 7px;
    margin: 15px 0;
    border: 1px solid rgb(125, 74, 180);
    transition: text-shadow 1s , color 0.9s;
}

.sec-1-left a:hover{
    transition: text-shadow 1s , color 0.9s;
    color: aliceblue;
    text-shadow: 2px 2px 10px white,2px 2px 30px rgb(125, 74, 180);
}

.sec-1-left pre{
    display: inline;
    color: rgb(200, 155, 249) ;
}

.sec-1-right img{
    height: 350px;
}

.sec-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sec-2-title{
    font-family: 'Poppins',sans-serif;
    font-size: 25px;
    color: rgb(125, 74, 180);
}

.sec-2-p-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec-2-p-1 img{
    height: 250px;
    padding: 50px;
}

.sec-2-p-1-left{
    color:rgb(125, 74, 180);
    font-size: 20px;
    font-weight: 400;
    width: 350px;
}



.coderscave{
    color:rgb(184, 133, 239);
}

.link-wrap{
    margin: 20px 0;;
}

.sec-2-p-1-left-link{
    display: inline;
    text-decoration: none;
    color: rgb(166, 108, 227);
    width: fit-content;
    border: 1px solid rgb(125, 74, 180);
    margin:20px 0 ;
    padding: 5px 10px;
    transition: text-shadow 1s , color 0.9s;
}

.sec-2-p-1-left-link:hover{
    transition: text-shadow 1s , color 0.9s;
    color: aliceblue;
    text-shadow: 2px 2px 10px white,2px 2px 30px rgb(125, 74, 180);
}

#typing{
    color: rgb(200, 155, 249);
    transition: text-shadow 1s;
}

.typed-cursor {
    color:rgb(200, 155, 249) ;
}



#typing:hover{
    transition: text-shadow 1s , color 0.9s;
    color: aliceblue;
    text-shadow: 2px 2px 30px rgb(255, 255, 255),2px 2px 30px rgb(169, 119, 223);
}


.webform{
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(125, 74, 180) ;
    margin-top: 100px;
}

.webform form{
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: rgb(23, 18, 39);
    padding: 30px;
    border-radius: 3px;
}

.webform form h3{
    text-align: center;
}

.webform input{
    background-color: black;
    border: none;
    min-width: 300px;
    color: rgb(93, 62, 128);
}

.webform textarea{
    background-color: black;
    border: none;
    resize:none;
    color: rgb(93, 62, 128);
    min-height: 200px;
}

.webform form label{
    margin: 10px 0;
}

.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(125, 74, 180) ;
}

.socials ul{
    list-style-type: none;
}

.socials ul li{
    padding: 10px;
    display: inline;
}

.footer{
    justify-content: center;
    padding: 20px 0 0 0;
    background-color: black;
}

.footer-text{
    color:rgb(93, 74, 113) ;
    text-align: center;
    padding: 50px;
}
@media screen and (max-width:954px){
    .nav{
        flex-direction: column;
        height: fit-content;
        justify-content: center;
        text-align: center;
        padding: 30px 0 0 0;
    }

    .nav ul{
        margin: 0;
        padding: 0;
    }

    .nav ul li{
        margin: 5px 0 0 0;
    }

    .nav-title{
        text-shadow: 2px 2px 10px white,2px 2px 30px purple;
        color: white;
    }
    .sec-1{
        flex-direction: column;
        gap: 30px;
    }

    .sec-1-left{
        margin: 30px 20px 0 20px ;
    }

    .sec-1-right img{
        scale: 0.9;
    }
    .nav ul li{
        display: block;
    }

    .sec-2-wrap>*{
        flex-direction: column;
        padding: 50px 0;
    }
    .sec-2-p-1-left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90vw;
        padding: 10px 0;
    }

    .link-wrap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sec-2-p-1-left-link{
        display: block;
        color: aliceblue;
        text-shadow: 2px 2px 10px white,2px 2px 30px purple;
    }

    .sec-2-p-1-right img{
        scale:0.7;
    }

    .sec-1-left a{
        color: aliceblue;
        text-shadow: 2px 2px 10px white,2px 2px 30px rgb(125, 74, 180);
          
    }
    .resume-link{
        display: flex;
        justify-content: center;
        align-items: center; 
    }
     
}
