@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');

::selection{
    background-color:rgb(48, 45, 68);
    color: azure;
}

::-webkit-scrollbar{
    background-color: transparent;
    max-height:10px;
    max-width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(74, 74, 74);
}

html,body{
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: black;
    font-family: 'Poppins',sans-serif;
}

.nav{
    background-color: #151a20;
    min-width:100vw;
    height: fit-content;
    color: aliceblue;
    display: flex;
    padding: 30px 10px 10px 10px;
    font-family:'Poppins', sans-serif;
    font-weight: 300;
    font-size: 20px;
    justify-content: space-between;
}

.nav-title{
    color: rgb(116, 246, 149);
    transition: text-shadow 1s;
}


.nav-title:hover{
    transition: text-shadow 1s , color 0.9s;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 10px white,2px 2px 30px rgb(190, 255, 220);
}
.nav ul{
    list-style-type: none ;
    padding: 0 20px;
}

.nav ul li {
    display: inline;
    padding: 10px;
}

.nav a{
    text-decoration: none;
    color: rgb(116, 246, 149);
}



.nav li:hover{
    border-bottom:3px solid rgb(160, 255, 184) ;
}

.wrapper{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins',sans-serif;
}

.sec-1{
    font-size: 25px;
    display: flex;
    font-family: 'Poppins',sans-serif;
    margin: 20px;
    color: rgb(116, 246, 149);
    justify-content: center;
    align-items: center;
    gap:100px;
}

.sec-1-left{
    margin: 20px;
    width: fit-content;
}

.sec-1-right img{
    height: 350px;
}

.sec-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sec-2-title{
    font-family: 'Poppins',sans-serif;
    font-size: 25px;
    color: rgb(116, 246, 149);
}

.sec-2-p-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec-2-p-1 img{
    height: 250px;
    padding: 50px;
}

.sec-2-p-1-left{
    color:rgb(116, 246, 149) ;
    font-size: 20px;
    font-weight: 400;
    width: 350px;
}



.coderscave{
    color:rgb(116, 246, 149) ;
}

.link-wrap{
    margin: 20px 0;;
}

.sec-2-p-1-left-link{
    display: inline;
    text-decoration: none;
    color: rgb(116, 246, 149);
    width: fit-content;
    border: 1px solid rgb(116, 246, 149);
    margin:20px 0 ;
    padding: 5px 10px;
    transition: text-shadow 1s , color 0.9s;
}

.sec-2-p-1-left-link:hover{
    transition: text-shadow 1s , color 0.9s;
    color: aliceblue;
    text-shadow: 2px 2px 10px white,2px 2px 30px rgb(190, 255, 220);
}

#typing{
    color: rgb(180, 248, 197);
    transition: text-shadow 1s;
}


#typing:hover{
    transition: text-shadow 1s , color 0.9s;
    color: aliceblue;
    text-shadow: 2px 2px 30px white,2px 2px 20px rgb(190, 255, 220);
}
@media screen and (max-width:954px){
    .nav{
        flex-direction: column;
        height: fit-content;
        justify-content: center;
        text-align: center;
        padding: 30px 0 0 0;
    }

    .nav ul{
        margin: 0;
        padding: 0;
    }

    .nav ul li{
        margin: 5px 0 0 0;
    }

    .nav-title{
        text-shadow: 2px 2px 10px white,2px 2px 30px rgb(190, 255, 220);
        color: white;
    }
    .sec-1{
        flex-direction: column;
        gap: 30px;
    }

    .sec-1-left{
        margin: 30px 20px 0 20px ;
    }

    .sec-1-right img{
        scale: 0.9;
    }
    .nav ul li{
        display: block;
    }

    .sec-2-wrap>*{
        flex-direction: column;
        padding: 50px 0;
    }
    .sec-2-p-1-left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90vw;
        padding: 10px 0;
    }

    .link-wrap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sec-2-p-1-left-link{
        display: block;
        color: aliceblue;
        text-shadow: 2px 2px 10px white,2px 2px 30px rgb(190, 255, 220);
    }

    .sec-2-p-1-right img{
        scale:0.7;
    }
}